{{outlet}}
<li class="list-group-item">
  <span class="shopName">
{{#link-to "products" shop.id}}
  {{shop.name}}
{{/link-to}}
</span>

<button class="editsumbit" {{action 'editShop' shop.id}}>Edit</button>
<button class="delsumbit"  {{action 'delShop' shop}}>Delete</button>
</li>
