{{outlet}}
<li class="list-group-item">
  <span class="shopName">
{{#link-to "shops.products" shop}}
  {{shop.name}}
{{/link-to}}
</span>

<button class="editsumbit" {{action 'editShop'}}>Edit</button>
<button class="delsumbit"  {{action 'delShop'}}>Delete</button>
</li>
